body {
	font-family: "Arial", sans-serif;
	margin-top: 0px;
}
.wrapper {
	width: 40em;
	margin: 0px auto;
}
.title {
	margin: 1em 0 0.1em 0;
	font-size: 2em;
	color: #666;
}
.subtitle {
	font-size: 0.8em;
}
.links {
	float: right;
	font-size: 0.6em;
}
.links img {
	width: 32px;
	height: auto;
}
.header {
	margin-bottom: 2em;
	overflow: hidden;
}

.pf_itm {
	overflow: hidden;
	position: relative;
	margin-bottom: 2em;
}
.pf_itm h1, .pf_itm h2, .pf_itm h3 {
	margin: 0.2em 0;
}

.pf_itm h1{
	font-size: 1.7em;
}
.pf_itm h2 {
	font-size: 1.2em;

}
.pf_itm h3 {
	font-size: 1.2em;

}
.pf_itm p {
	font-size: 1em;
	text-align: justify;
}
.pf_itm_head img {
	position: absolute;
	top: 0px;
	right: 0px;
	float: right;
	width: 128px;
	height: 128px;
}
.pf_itm_head {
	overflow:hidden;
	min-height: 128px;
	position: relative;
	margin-bottom: 1em;
}
.itm_link {
	font-size: 1em;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.footer {
	font-size: 0.6em;
	position: fixed;
	right: 0px;
	bottom: 0px;
	max-width: 256px;
	text-align: right;
}
.footer img {
	width: 4em;
	height: 4em;
}
#sources {
	display: none;
	margin-right: 1em;
}
#sources ul{
	list-style: none;
}
#sources li {
	border-bottom: 1px solid #666;
	padding: 0.5em 0;
}
.more_info {
	display: none;
	border-top: 1px dashed #CCC;
	padding-top: 1em;
}
.more_btn {
	width: 32px;
	height: auto;
	z-order: -1;
	//opacity: 0.2;
}

.expanderImg {
	width: 32px;
	margin-left: auto;
	margin-right: auto;
}
.code {
	padding: 1em;
	background: #FCFCFC;
	font-family: monospace;
}